# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Android
*.apk
*.ap_
*.aab
*.dex
*.class
local.properties

# iOS
iosApp/Pods/
iosApp/.symlinks/
iosApp/Flutter/
*.xcworkspace
!iosApp/*.xcworkspace
xcuserdata/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Kotlin
*.kotlin_module
.kotlin/

# IDE
.idea/
*.iml
*.ipr
*.iws
.DS_Store
*.swp
*.swo
.vscode/
*.log

# KMP
composeApp/build/
shared/build/
iosApp/build/

# Secrets
*.jks
*.keystore
google-services.json
GoogleService-Info.plist

# Misc
*.hprof
.env
.env.local
captures/
.externalNativeBuild/
.cxx/
*.lock
*.bin
*.bin
*.xml
*.xml
.idea/workspace.xml
